body {
  background-color: hsl(27, 66%, 92%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
#my-chart {
  height: 200px;
  --heading-size: 3rem;
}
#my-chart caption {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.25rem;
}
