@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Montserrat&display=swap");

body {
  background-color: hsl(27, 66%, 92%);
  font-family: "DM Sans", sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
#my-chart {
  height: 200px;
  --heading-size: 3rem;
  --color: hsl(10, 79%, 65%);
}
td {
  border-radius: 3px;
}
tr:hover {
  --color: hsl(186, 34%, 60%);
}
#my-chart caption {
  line-height: 1.25rem;
  color: hsl(25, 47%, 15%);
  font-size: 24px;
  font-weight: 560;
}
#my-chart th {
  color: hsl(28, 10%, 53%);
  font-weight: 100;
  font-size: 12px;
}
